#! /bin/sh

# power users can choose a different devshell target
[[ -f .envrc.local ]] && source_env .envrc.local
# see haskell.nix `flake.variants` config for available alternative values
DEVSHELL_TARGET=${DEVSHELL_TARGET:-default}

source "$(nix eval .#__std.direnv_lib)"
use std nix //_automation/devshells:${DEVSHELL_TARGET}
